*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
}
body{
    width: 100%;
    background: #222;
    background-position: center;
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
header img{
    width: 100%;
    height: auto;
}
.main-content{
    margin-top: 2rem;
    padding: 0 5% 0;
}
.main-content #heading{
    font-size: 1.5em;
    text-align: center;
}
.main-content .info{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 30px;
    align-items: center;
} 
.info p{
    font-size: 1.6rem;
    width: 50%;
}
.info img{
    width: 50%;
    height:auto;
    border-radius: 40px;
}
.main-content .apartados{
    display: grid;
    background: #333;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
    padding: 5%;
    border-radius: 2.5rem;
    margin-bottom: 3%;
}
.apartados img{
    height: auto;
    width: 100%;
}
.apartados #dinamicas:hover{
    transform: rotate(-1deg) scale(1.07);
}
.apartados #premios:hover{
    transform: scale(1.07);
}
.apartados #clasificacion:hover{
    transform: rotate(1deg) scale(1.07);
}
footer{
    background: #111;
    margin-top: 2rem;
    height: 150px;
    text-align: center;
    padding-top: 3rem;
}
.personal{
    background: #333;
    padding: 5%;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    gap: 2.5em;
}
.person-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;    
    font-size: 2.5rem;
}
.person-display .jurado-photos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2%;
}
.jurado-photos img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.person-display .organizers-photos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2%;
}
.person-display .organizers-photos img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
@media (max-width: 768px){
    header img{
        width: 100%;
    }
    .main-content .info{
        flex-direction: column;
        align-items: center;
    }
    .info p{
        font-size: 1em;
        width: 90%;
    }
    .info img{
        width: 90%;
    }
    .main-content .apartados{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    .apartados img{
        width: 85%;
        display: block;
        margin: 0 auto;
    }
    footer{
        font-size: .7em;
    }
    .personal{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    .person-display{
        font-size: 1.6rem;  
    }
    .person-display .jurado-photos{
        grid-template-columns: repeat(3, 1fr);
    }
    .person-display .organizers-photos{
        grid-template-columns: repeat(3, 1fr);
    }
    .apartados #dinamicas:hover{
    transform: rotate(-1deg) scale(1.02);
    }
    .apartados #premios:hover{
        transform: scale(1.02);
    }
    .apartados #clasificacion:hover{
        transform: rotate(1deg) scale(1.02);
    }
}
