*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url(assetts/Background.avif) no-repeat;
    background-position: center;
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    gap: 2%;
    height: 10%;
}
#celso-logo{
    height: 100%;
}
#sport-logo{
    height: 100%;
    aspect-ratio: 1 / 1;
}
.main-content #heading{
    font-size: 1.5em;
    text-align: center;
}
.main-content .info{
    display: flex;
    font-size: 1.2rem;
    gap: 30px;
}
.info p{
    font-size: 1.2em;
    width: 50%;
}
.main-content .apartados{
    display: grid;
    background: lightblue;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    padding: 5%;
    border-radius: 2.5rem;
}
.apartados img{
    height: auto;
    width: 100%;
}