*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 12%;
}
#celso-logo{
    height: 100%;
}
#sport-logo{
    height: 100%;
    aspect-ratio: 1 / 1;
}
.main-content #heading{
    font-size: 1.5em;
    text-align: center;
}
.main-content .info{
    display: flex;
    gap: 30px;
}
.info p{
    font-size: 1.2em;
    width: 50%;
}
.main-content .apartados{
    display: grid;
    background: lightblue;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
}
.apartados img{
    height: auto;
    width: 100%;
}