*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
}
body{
    width: 100vw;
    background: #222;
    background-position: center;
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
header img{
    width: 60%;
    height: auto;
}
.main-content{
    margin-top: 5rem;
    padding: 0 5% 0;
}
.main-content #heading{
    font-size: 1.5em;
    text-align: center;
}
.main-content .info{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 30px;
} 
.info p{
    font-size: 1.5rem;
    width: 50%;
}
.info img{
    width: 70%;
    height: 100%;
    border-radius: 10%;
}
.main-content .apartados{
    display: grid;
    background: #333;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 5%;
    border-radius: 2.5rem;
}
.apartados img{
    height: auto;
    width: 100%;
}
footer{
    background: #111;
    margin-top: 2rem;
    height: 150px;
    text-align: center;
    padding-top: 3rem;
}